.ant-btn.button{
    background: linear-gradient(135deg,#FD9A05,#7510F4);
    color:#fff;
    border: none;
    transition: all .3s;

    &:hover, &:active, &:focus{
        background: linear-gradient(135deg,#fd9a05e1,#7710f4e8);
        color:#fff;
        border:none;
    }

    &:disabled, &:disabled:hover{
        background: linear-gradient(135deg,#fd9a05ab,#7710f4c0);
        color:#fff;
        border:none;
    }

}