.tags{

    &__item{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        display: inline-block;
        padding:3px 7px;
    }
}