.main-sign-up{
    width: 100%;
    background-color: rgb(32, 28, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__wrapper{
        max-width: 450px;
        width: 100%;
        margin:0 auto;
        position: relative;
        top:-40px;
    }
}