.dropdown{
    position: relative;
    margin:0 10px;
    $self: &;

    &__text{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        display: inline-block;
        padding:3px 7px;
        cursor: pointer;
    }

    &__wrapper{
        position: absolute;
        top:100%;
        left:0;
        padding-top:15px;
    }

    &__content{
        width: 300px;
        height: 600px;
        background-color: #fff;
        border:1px solid rgba(0,0,0,.1);
        padding:5px 0;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow: auto;
        box-shadow: 0 0 6px 2px rgba(0,0,0,.1);
        opacity: 1;
    }

    &__caret{
        font-size: 13px;
        font-weight: bold;
    }   

    &-profile{
        margin:0;

        #{$self}__content{
            max-width: 200px;
            width: 100%;
            height: auto;
            padding:0;

            .category__item{
                padding:9px 40px;
                font-weight: 500;;
            }
            
            &__wrapper{
                padding-top: 5px;
            }
        }
    }
}